.text-editor {
    
    padding-right: 200px;
    
    margin: 0 auto;
    Font-Family: 'Open Sans', Sans-Serif;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 24px 24px 24px 24px;
    width: 300px;
    padding-left: 100px;
    padding-bottom: 145px;
    
  }
  .ql-editor {
    display: flex;
    width: 300px;
    
    
  }
  .quill{
    Font-Family: 'Open Sans', Sans-Serif;
    width: 300px;
  }
  h1{
    Font-Family: 'Work Sans', Sans-Serif;
  }
  #toolbar{
    width:300px;
  }

  .reasonsBox {
    Font-Family: 'Open Sans', Sans-Serif;
    width: 600px;
  }

  .expenseTable {
    width: 600px;
  }

  .expenseTableData {
    text-align: center;
  }


 