.home {
  flex: 0.8;
  padding-left: 150px;
  margin: 60px 140px;
  padding: 40px 50px;
  padding-left: 30px;
  width: 190px;
  text-align: center;
}
.border {
  box-sizing: border-box;
  background-size: 90%;
  background-position: left, bottom;
  background-repeat: no-repeat;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 24px 24px 24px 24px;
}

.home__Icon {
  transform: scale(4);
  /* object-fit: contain; */
  /* position: fixed; */

  /* margin-left: 570px;
  margin-top: 45px; */
  color: #1F4364;
}

.home__title {
  /* align-items: center;
  padding-left: 430px; */
  padding-top: 45px;
  padding-bottom: 10px;
  Font-Family: 'Work Sans', Sans-Serif;

}

.home__Icon:hover {
  color: rgb(32, 99, 150);
  cursor: pointer;
}
.home__subtitle {
  /* padding-left: 460px; */
  padding-top: 45px;
  padding-bottom: 60px;
  Font-Family: 'Open Sans', Sans-Serif;
  
}
/* .home__foot{
  padding-bottom: 135px;
  padding-left: 200px;
} */
.home__body {
  padding-top: 45px;
  /* box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  display:flex; */
}

/* .plane {
  transform: scale(0.25);
  padding-right: 150px;
  align-content: center;
  float: left;
} */
/* Font-Family: 'Work Sans', Sans-Serif;
Font-Size: 45px;
Font-Family: 'Open Sans', Sans-Serif;
Font-Size: 15px; */