.sidebarRow {
  display: flex;
  flex: 0.4;
  /* align-items: center; */
  padding: 10px 30px;
  font-family: "Work Sans", Sans-Serif;
  font-size: 30px;
}
.sidebarRow__icon {
  color: rgb(6, 13, 19);
  font-size: large !important;
  padding-top: 10px;
  
}
.sidebarRow__title {
  flex: 2;
  align-content: center;
  margin-left: 18px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500px;
  color: rgb(109, 104, 104);
  
  /* padding-top: 5px; */
}
.sidebarRow:hover {
  background-color: rgb(253, 253, 253);
  cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: rgb(16, 94, 240);
}
.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
}
.sidebarRow.selected {
  background-color: lightgrey;
}
.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}
