.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  margin: 0 0 30px;
  background-color:#1F4364;
  overflow: hidden;
  position: sticky;
  z-index: 100;
  top: 0;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  
  font-size: 24px;
  font-weight: 500;
  color: #152158;
  padding-left: 10px;
  margin: 0;
  
}

.navLink {
  
  /* display: inline-block; */
  color: #ffffff;
  background-color:#1F4364;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500px;
  Font-Family: 'Work Sans', Sans-Serif;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #1d2c46;
  border-radius: 24px 24px 24px 24px;
}

.nav_left{
  display:flex;
  
  
  

}
h1{
  font-size: 16px;
  padding-right: 20px;
  
  
}
.user{
  Font-Family: 'Work Sans', Sans-Serif;
}



